<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaohua.love.db.TSRoleMapper">
  <resultMap id="BaseResultMap" type="com.yaohua.love.db.TSRole">
    <result column="ID" jdbcType="BIGINT" property="id" />
    <result column="rolecode" jdbcType="VARCHAR" property="rolecode" />
    <result column="rolename" jdbcType="VARCHAR" property="rolename" />
  </resultMap>
  <insert id="insert" parameterType="com.yaohua.love.db.TSRole">
    insert into t_s_role (ID, rolecode, rolename
      )
    values (#{id,jdbcType=BIGINT}, #{rolecode,jdbcType=VARCHAR}, #{rolename,jdbcType=VARCHAR}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, rolecode, rolename
    from t_s_role
  </select>
</mapper>